@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.card{
    width: 25vw;
    margin:  2vh 3.3vw;
    font-family: 'Montserrat', sans-serif;
}
img{
    height: 35vh;
    width: 25vw;
}
.card a{
    background-color: gray;
    color: black;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 1vh 0vw;
}
small{
    font-weight: 700;
}